beautifulsoup4
gsutil
newspaper3k
nltk
torch==1.4.0
lxml
gensim
pyahocorasick
sqlalchemy
pandas
wikiextractor==0.1
wandb
transformers
datasets
sentence-transformers==1.0.3
requests==2.20.0
pyspotlight
httplib2
crcmod
numpy